---
name: Ansible Run

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
  ansible:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run playbook
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_SECURITY_TOKEN: ${{ secrets.AWS_SECURITY_TOKEN }}
          BIGIP_USERNAME: ${{ secrets.BIGIP_USERNAME }}
          BIGIP_PASSWORD: ${{ secrets.BIGIP_PASSWORD }}
          AWS_BUCKET_NAME: "default-judmf-bigip-1arm-as3"
          BIGIP_PORT: "8443"
        uses: dawidd6/action-ansible-playbook@v2
        with:
          playbook: site.yml
          directory: ./
          requirements: requirements.yml
          options: |
            --verbose
